{{- define "main" }}
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
  {{- $scratch.Set "image" .Params.image }}
{{- else }}
  {{ $scratch.Set "image" "thumbnail.svg" }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image) }}
{{ $p := .Site.Params }}
{{- if ne .Params.hideBanner true }}
<section class = 'post_header' style = 'background-image:url({{ absURL $bg }});'>
  <h1 class='post_title'>{{ .Title }}</h1>
  {{- with .Params.brief }}
    <p>{{ . }}</p>
  {{- end }}
</section>
{{- end }}
<div class = '{{ if .Params.full }}wrap post{{ else }}post{{ end }}'>
  <center>
    <script type="text/javascript">
      atOptions = {
        'key' : 'b42896b5c94d205b6ce4dbc298011aba',
        'format' : 'iframe',
        'height' : 50,
        'width' : 320,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://vulnerableimmigrateaboveaverage.com/b42896b5c94d205b6ce4dbc298011aba/invoke.js"></scr' + 'ipt>');
    </script>
  </center>
  <article class='post_content'>
    {{- .Content }}
    {{ if in $p.mainSections .Type }}
    <center><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Qeluarin on Ko-fi', '#29abe0', 'B0B1GEGZX');kofiwidget2.draw();</script></center>
    <div class = 'post_extra'>
      {{- partialCached "copy" . }}
    </div>
    {{- partial "author" . }}
    {{ end }}
  </article>
  {{- if and $p.Staticman (ne .Params.full true)  }}
    {{- partial "comments" . }}
  {{- end }}
  {{ if in $p.mainSections .Type }}
  <aside>
    {{- partial "aside" . }}
  </aside>
  {{ end }}
  {{- partial "ads2" . }}
</div>
<script src = '{{ absURL "js/autosize.min.js" }}'></script>
{{- $timeagoScr := resources.Get "js/timeago.js" | resources.ExecuteAsTemplate "js/timeago.js" . }}
<script src = '{{ $timeagoScr.Permalink }}'></script>
{{- end }}